* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.track {
    width: 100%;
    background-image: url(/Images/road.webp);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 46vh;
}

.track .person {
    position: relative;
    width: 10rem;
    height: 20rem;
    animation: runn 5s linear;
}

.person>div {
    position: absolute;
    width: 100%;
}

.person>div>img {
    width: 100%;
}

.body {
    bottom: -9px;
    left: 118px;
    transform-origin: bottom left;
    transform: rotate(352deg);
}

.left_foot {
    bottom: -55px;
    left: 1px;
    transform-origin: top right;
    transform: rotate(-57deg);
    animation: rHandLFoot 10s linear;
}

.rigt_foot {
    bottom: -132px;
    left: 155px;
    transform-origin: top left;
    transform: rotate(389deg);
    animation: lHandRFoot 10s linear;
}

.left_hand {
    transform-origin: top left;
    bottom: 47px;
    left: 190px;
    transform: rotate(54deg);
    z-index: -1;
    animation: lHandRFoot 10s linear;
}

.right_hand {
    bottom: -7px;
    left: -26px;
    transform-origin: top right;
    transform: rotate(302deg);
    animation: rHandLFoot 10s linear;
}


@keyframes rHandLFoot {
    0%,20%,40%,60%,80%,100% {   transform: rotate(-100deg);}

    10%,30%,50%,70%,90%{   transform: rotate(25deg);}
}

@keyframes lHandRFoot {
    0%,20%,40%,60%,80%,100% {   transform: rotate(100deg);}

    10%,30%,50%,70%,90%{   transform: rotate(-15deg);}
}
@keyframes runn {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(100vw);
    }
}

